@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Güncelleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<input type="hidden" asp-for="ContactID" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Açıklama</label>
							<textarea rows="4" class="form-control" asp-for="Description"></textarea>
							<br />
							<label>Telefon1</label>
							<input type="text" asp-for="Phone1" class="form-control" />
							<br />
							<label>Telefon2</label>
							<input type="text" asp-for="Phone2" class="form-control" />
							<br />
							<label>Eposta1</label>
							<input type="text" asp-for="Email1" class="form-control" />
							<br />
							<label>Eposta2</label>
							<input type="text" asp-for="Email2" class="form-control" />
							<br />
							<label>Adres</label>
							<input type="text" asp-for="Address" class="form-control" />
							<br />
							<button class="btn btn-warning">Güncelle</button>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

